{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        Добро пожаловать на мой виртуальный уголок вдохновения и знаний — информационный сайт, посвященный выдающимся
        женщинам мира! Здесь Вы увидите удивительные истории жизни и достижений женщин, чьи вклады оставили
        неизгладимый след в различных сферах общества.<br><br>
        Страницы проекта наполнены биографиями, фотографиями и увлекательными историями, рассказывающими о том,
        как эти невероятные личности преодолевали трудности и воплощали свои мечты. Мой проект — путеводитель в мир
        вдохновения и силы, который призван подчеркнуть роль и влияние женщин на нашу историю и культуру.<br><br>
        От исследования научных свершений до освещения искусства и общественной деятельности, я стремлюсь создать
        место, где каждый посетитель сможет обнаружить что-то новое и вдохновляющее. Я собираю информацию
        из различных источников, чтобы предоставить вам надежные и увлекательные материалы.<br><br>
        Я приглашаю Вас в захватывающее путешествие по миру женской силы и влияния. Давайте вместе откроем тайны,
        изучим истории успеха и восхитимся тем, как женщины меняют мир. Добро пожаловать на мой информационный портал —
        место, где истории женщин становятся вдохновением для всех!
    </p>
    <h3>{{ sub_title }}</h3>
    <p>
        Вы можете указать интересный факт или внести предложения по сайту или содержимому статьи! Для внесения статьи
        перейдите на <a href="{% url 'add_page' %}">форму добавления статьи</a>, а если у Вас есть пожелания, можете
        перейти на <a href="{% url 'contact' %}">форму обратной связи</a> или <a href="{{ contact }}">написать мне</a>.
    </p>
{% endblock %}