<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Все шаблоны следует писать в кодировке UTF-8, ибо это стандарт, начиная с Django 3. -->
    <meta charset="UTF-8">
    <!-- Задали свою переменную в шаблоне. Чтобы она отработала, нужно внести словарь в функцию представления. -->
    <title>{{ title }}</title>
</head>
<body>
<!-- Работа с коллекциями несколько отличается в шаблоне от привычного, например, невозможно обратиться к элементу
списка по индексу. Ещё пример - нельзя обращаться к словарю так: dict['key_1'], требуется обращаться к ключу через точку:
dict.key_1. С классами аналогично: требуется обращаться к атрибутам класса через точку. Также важно заметить, что
шаблонизатор игнорирует те параметры, что в нём отсутствуют. И ещё важно понимать, что внутри шаблона нельзя указывать
более 1 переменной. -->
<p>{{ menu }}</p>
<!-- Получаем первый элемент коллекции. -->
<p>{{ menu|first }}</p>
<!-- Получаем последний элемент коллекции. -->
<p>{{ menu|last }}</p>
<!-- Объединяем все элементы коллекции в строку с помощью разделителя. -->
<p>{{ menu|join:' | ' }}</p>
<!-- Фильтр add преобразовал float к целому числу, затем прибавил 50, по итогу получили 78. -->
<p>{{ float|add:'50' }}</p>
<!-- Проверяем кратность числа на 2. Предварительно фильтр преобразовал число к целому числу. -->
<p>{{ float|divisibleby:'2' }}</p>
<p>{{ lst }}</p>
<!-- Получаем длину коллекции. -->
<p>{{ lst|length }}</p>
<p>{{ set }}</p>
<p>{{ dict.key_1 }}, {{ dict.key_2 }}</p>
<p>{{ obj.a }}</p>
<!-- Переводим строку в слаг. -->
<p>{{ 'The Main Page'|slugify }}</p>
<!-- Применили фильтр slugify внутри функции представления. -->
<p>{{ url }}</p>
<!-- Первый символ делаем заглавными. -->
<h1>{{ title|capfirst }}</h1>
<!-- Все символы делаем заглавными. -->
<h1>{{ title|upper }}</h1>
<!-- Все символы делаем строчными. -->
<h1>{{ title|lower }}</h1>
<!-- Убираем несколько символов в строке. -->
<h1>{{ title|cut:' '|cut:'а' }}</h1>
<!-- Если переменной нет (либо выражение ложное с точки зрения языка Python), то указываем стандартное отображение. -->
<h1>{{ some_title|default:'Без заголовка' }}</h1>
</body>
</html>