<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Все шаблоны следует писать в кодировке UTF-8, ибо это стандарт, начиная с Django 3. -->
    <meta charset="UTF-8">
    <!-- Задали свою переменную в шаблоне. Чтобы она отработала, нужно внести словарь в функцию представления. -->
    <title>{{ title }}</title>
</head>
<body>
<!-- Формирование меню сайта -->
<ul>
    <!-- Маршрут перенаправления на главную страницу. -->
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    <!-- Маршрут перенаправления на остальные страницы. -->
    {% for m in menu %}
        {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
        </li>
    {% endfor %}
</ul>
<!-- Формирование контента. -->
{% block content %} {% endblock %}
</body>
</html>